*:focus {
  outline: none;
}
html {
  font-family: "Microsoft YaHei", arial, courier new, courier, "\5b8b\4f53", monospace;
  font-size: 16px;
}
body {
  position: relative;
  background-color: #ffffff;
  margin: 0;
  color: #000;
}
div,
input,
button {
  box-sizing: border-box;
  font-family: "Microsoft YaHei", arial, courier new, courier, "\5b8b\4f53", monospace;
}
ul{
  list-style: none;
}
ul,li,div,dl,dt,p,b,h1,h2,h3{
  margin:0;
  padding:0;
}
a {
  color: #000;
  text-decoration: none;
}
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.lf{
  float:left;
}
.rt{
  float:right;
}

.blue{
  color:rgb(58,206,232);
}
.grey{
  color:rgb(128,128,128);
}
.container{
  margin:0 30px 0 30px;
}
/*opts*/
.item{
  height:89px;
  width:100%;
  line-height: 89px;
  padding:0 10px 0 10px;
  border-bottom: 1px solid #ddd;
  font-size: 28px;

}
.item span{
}
.item select,.item input{
  border:none; 
  font-size: 26px;
  margin-top: 29px;
  text-align: right;
  }
.item select{
  width:200px;
  direction: rtl;
}
.item .selBig{
  position: relative;
  width:230px;
}
.item .selHid{
  position:absolute;
  top:3px;
  width:50px;
  height:50px;
  background-color: #fff;
}
/*pic*/
.uploadPic{
  width:100%;
  display:flex;
  overflow:hidden;
}
.uploadPic li{
  flex:1;
}

.fWrap{
  overflow: hidden;
}
.fWrap input{
  position: absolute;
  width:120px;
  height:120px;
  opacity: 0;
}
.fWrap .fHid{
  width:120px;
  height: 120px;
  top:0;
  background-image: url(../img/add.jpg);
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
}
.fWrap,.thumbnail {
  position: relative;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px; 
  line-height: 20px; 
  margin-top: 30px;
  margin-bottom: 20px;
}
.thumbnail img{
  max-width:120px;
  max-height:120px;
}
.thumbnail,.fWrap{
  border:1px solid #ddd;
}
/*help*/
.helpTab{
  overflow: hidden;
  margin-top: 30px;
}
.helpTab h3{
  width:100%;
}
dl,dt{
  float:left;
}
dl{
  width:100%;
  margin:5px 0;
}
/*agree*/
.agree{

  margin:20px auto;
  text-align: center;
}
.agree input{
  width:1.5em;
  height:1.5em;
  vertical-align: middle;
}
/*submit*/
  .submit{
    display: block;
    margin:0 auto 0.5em auto;
    width:80%;
    height:2.5em;
    border:none;
    border-radius: 10px;
    background-color: #aaa;
    color:#ddd;
    font-size: 30px;
    cursor: pointer;
  }
  .submit.active{
    background-color: rgb(58,204,219);
    color:#ddd;
  }
